
@keyframes blink {
    10%{opacity: 0;}
    20%{opacity: 1; color: aqua;}
    30%{opacity: 0;}
    40%{opacity: 1; color: orange;}
    40%{opacity: 0;}
    50%{opacity: 1; color: aqua;}
    60%{opacity: 0;}
    70%{opacity: 1; color: orange;}
    80%{opacity: 0;}
    90%{opacity: 1; color: aqua;}
    100%{opacity: 1; color: white;}
}


@keyframes fade-up {
    from{
        transform: rotateX(85deg);
        opacity: 0.2;
    }
    to{
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes bg-changer {
    from{
        /* opacity: 0.5; */
        /* background: linear-gradient(135deg, #fc6262, #ffd86f); */
        background: linear-gradient(135deg, #2470a0, #ffb6d1);

    }
    to{
        /* opacity: 0.5; */
        /* background: linear-gradient(135deg, #ffd86f, #fc6262); */
        background: linear-gradient(135deg, #ffb6d1, #2470a0);

    }
    
}