* {
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
footer {
    margin-top: 1.5vh;
    width: 100%;
    height: 60vh;
    background-color:rgb(157, 142, 142);
    border: none;
    border-bottom: yellow 20px;
    border-bottom: yellow 20px;
    display: flex;
    color: white;
}
