* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins' ,sans-serif; */
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

body {
    background-color: #030303;
    /* background-color: #2A2438; */
}

.sticky {
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 0.29);
    color: white;
    backdrop-filter: blur(10px);
    transition: all 1s ease-in-out;
}

main section.page-intro {
    margin-top: 0vh;
    height: 90vh;
    width: 100%;
    background-color: #030303;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
    animation: intro 300ms ease-in-out;
}
@keyframes intro {
    from{
        opacity: 0.1;
        transform: scaleX(0.5) scaleY(0.5) translateY(40px);
    }
    to{
        opacity: 1;
      transform: scaleX(1) scaleY(1) translateY(0px);
    }
}
.typed-text {
    color: #66FCF1;
    /* animation: blink 2s linear; */
}
.define-company-name{
    font-weight: 400;
    animation: blink 1100ms ease;
}
.cursor {
    background: #66FCF1;
}

section.page-intro .left {
    /* flex: 30%; */
    padding: 20vh 3vw;
    h1.company-name {
        color: #66FCF1;
        font-size: 5em;
        animation: fade-up 1s linear;
    }

    .page-intro-btn {
        position: relative;
        top: 15vh;
        display: flex;
        gap: 10vw;

        a {
            text-decoration: none;
            color: #66FCF1;
        }

        button {
            cursor: pointer;
            padding: 10px 50px;
            border: none;
            outline: none;
            background-color: #5df5ebdd;
            font-family: 'Poppins';
            font-weight: 600;
            border-radius: 10px;
           color: black;
           box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        
        button:hover {
            box-shadow: rgb(78, 87, 97) 1px -1px 20px 6px;
        }
    }

}

section.page-intro .right {
    padding: 5vh 2vw;
}

main .container {
    margin-top: 2vh;
    height: 50vh;
    width: 100%;
    background-color: #030303;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-content {
        color: white;
        /* background-color: rgb(0, 128, 107); */
        width: 30%;

        img {
            width: 65%;
        }

        h1 {
            padding: 5vh 0vw;
            /* margin-right: 20vw; */
        }

        p {
            position: relative;
            bottom: 5vh;
            font-size: 1.2rem;
        }
    }

    .right-content {
        color: white;
        /* background-color: green; */
        width: 50%;
        font-family: 'Poppins';
        font-size: 1.1vw;

        h1 {
            padding: 5vh 0vw;
            /* margin-right: 20vw; */
        }

        p {
            position: relative;
            bottom: 5vh;
            font-size: 1.1vw;
        }
    }
}

.statistics-container {
    margin-top: 2vh;
    height: 30vh;
    width: 100%;
    background-color: #030303;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4vh 0vw;
    overflow: hidden;
    align-items: center;
    word-spacing: 3px;

    .statistics-container-item {
        font-size: 1vw;
        color: white;
        font-family: 'Poppins';
        width: 32vw;
    }
}

footer {
    margin-top: 2vh;
    height: 40vh;
    width: 100%;
    background-color: #030303;
    color: white;
}

footer .footer-container {
    display: flex;
    justify-content: space-around;

    ul {
        position: relative;
        top: 5vh;

    }

    li {
        color: white;
        list-style-type: none;
        font-family: 'Poppins';
        font-size: 1.1vw;
    }
}

footer .footer-raw-data {
    width: 30%;
    position: relative;
    top: 1vh;

    h1.company-name {
        color: #66FCF1;
    }

    p {
        font-family: 'Poppins';
        font-size: 1.1vw;
    }
}

footer .footer-copyright-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    a {
        text-decoration: none;
        color: none;
    }

    li {
        list-style-type: none;
        color: white;
    }
}